@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

/* Menu block */

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #003147;
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active {
    width: 60px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li:hover {
    background: #03a9f4;
}

.navigation ul li:nth-child(1) {
    margin-bottom: 20px;
}
.navigation ul li:nth-child(1):hover {
    background: transparent;
}

.navigation ul li a {
    position: relative;
    /* display: block; */
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #ffffff;

}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1.5em;
}

.navigation ul li a .icon .fa {
    color: #ffffff;
    font-size: 24px;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

/* Main block */

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: #f5f5f5;
    transition: 0.5s;
}
.main.active {
    width: calc(100% - 60px);
    left: 60px;
}

/* TopBar */

.main .topbar {
    width: 100%;
    background: #ffffff;
    height: 60px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main .topbar .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    /* background: #ff0000; */
    cursor: pointer;
    font-size: 3em;
    text-align: center;
}
.main .topbar .toggle::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: #111111;
}

.main .topbar .search {
    position: relative;
    width: 400px;
    margin: 0 10px;

}

.main .topbar .search label {
    position: relative;
    width: 100%;
}

.main .topbar .search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 40px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.main .topbar .search label ion-icon {
    position: absolute;
    left: 10px;
    top: 8px;
    font-size: 1.5em;
}

.main .topbar .user {
    position: relative;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
}

.main .topbar .user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CardBox */

.main .cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.main .cardBox .card {
    position: relative;
    background: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.main .cardBox .card .numbers {
    position: relative;
    font-size: 2em;
    font-weight: 500;
}

.main .cardBox .card .cardName {
    color: #999999;
}

.main .cardBox .card .iconBox {
    font-size: 2.5em;
    color: #03a9f4;
}

.main .details {
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr;

}

.main .details .recentOrders {
    position: relative;
    /* display: grid; */
    min-height: 530px;
    background: #ffffff;
    padding: 20px;
}

.main .details  .recentOrders .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main .details .cardHeader h2 {
    font-weight: 600;
}

.main .details .cardHeader .btn {
    position: relative;
    padding: 5px 10px;
    background: #03a9f4;
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;
}

.main .details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.main .details table thead td {
    font-weight: 600;
}

.main .details table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main .details table tbody tr:last-child {
    border-bottom: none;
}

.main .details table tbody tr:hover {
    background: #03a9f4;
    color: #ffffff;
}

.main .details table tr td {
    padding: 9px 5px;
}

.main .details table thead tr td:last-child,
.main .details table tbody tr td:last-child {
    text-align: right;
}

.main .details .recentOrders table thead tr td:nth-child(2),
.main .details .recentOrders table tbody tr td:nth-child(2) {
    text-align: right;
    padding-right: 20px;
}

.main .details .recentOrders table thead tr td:nth-child(3),
.main .details .recentOrders table tbody tr td:nth-child(3) {
    text-align: center;
}

.status {
    position: relative;
    padding: 2px 4px;
    background: #ff0000;
    color: #ffffff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}

.delivered {
    background: #8de02c;
}
.pending {
    background: #f9ca3f;
}
.return {
    background: #ff0000;
}
.inprogress {
    background: #1795ce;
}

.main .details .recentCustomers {
    position: relative;
    /* display: grid; */
    min-width: 530px;
    background: #ffffff;
    padding: 20px;
}

.main .details .recentCustomers .imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.main .details .recentCustomers .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .details .recentCustomers table tr td h4 span {
    font-size: 14px;
    color: #999999;
}

.main .details .recentCustomers table tr:hover,
.main .details .recentCustomers table tr:hover td h4 span {
    background: #03a9f4;
    color: #ffffff;
}

.main .details .recentCustomers table tr td {
    padding: 7px 10px;
    text-align: left;
}

.main .details .recentCustomers table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}

/* Responsive */

